# Rust
/target
**/*.rs.bk

# Cargo
# Keep Cargo.lock for binaries for reproducible builds (uncomment to ignore for libs)
# Cargo.lock

# Editors/OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo



# Test scripts
test_run.sh
run.sh

# Packaging (but keep the service file)
packaging/**
!packaging/wayscriber.service
!packaging/PKGBUILD
!packaging/PKGBUILD.hyprmarker-meta

docs/board

dist/
